In [2]:
import numpy as np
import pandas as pd

In [3]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [14]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.506133  0.304050
   2 -0.834064 -0.301420
   3 -1.067836 -0.415725
G2 1 -1.141530  1.611998
   2 -0.557450  1.465029
   3 -0.068625  0.581808

In [16]:
df.loc["G1"].loc[1]

A    0.506133
B    0.304050
Name: 1, dtype: float64

####### Re Start

In [5]:
import numpy as np
import pandas as pd

In [6]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [7]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -0.754651 -1.687467
   2  0.206506 -0.906233
   3 -0.251075  1.523564
G2 1  0.490128 -0.346203
   2 -0.292159 -0.564363
   3  0.855201 -0.903573

In [8]:
df.index.names = ["Groups", "Num"]

# Multi level DF selection of data below

In [9]:
df

                   A         B
Groups Num
G1     1   -0.754651 -1.687467
       2    0.206506 -0.906233
       3   -0.251075  1.523564
G2     1    0.490128 -0.346203
       2   -0.292159 -0.564363
       3    0.855201 -0.903573

In [13]:
df.loc["G2"].loc[2] ["B"]

-0.5643625807498925

In [14]:
df.loc["G1"].loc[1] ["A"]

-0.7546511048543955

In [15]:
df.loc ["G1"].loc [3] ["A"]

-0.2510745440094136

In [ ]:
# Cross section command Multi level data frame

In [16]:
df.xs(1,level="Num")

               A         B
Groups
G1     -0.754651 -1.687467
G2      0.490128 -0.346203